$width: 400px;
$backgroundColorBody: #c3cfe2;
$backgroundColorCardHeader: white;
$backgroundColorCardFooter: #686de0;
$border: 1px solid lightgrey;
$font: Arial, Helvetica, sans-serif;
$borderradius: 1rem;
